@import url(http://fonts.googleapis.com/css?family=Cagliostro);
body {
  margin:0px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  background: url(images/inside_by_geekshadow-d4e58t2.jpg);
  background-attachment:fixed;  
}

p {
  margin:0px;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #acd553;
}

#page {
  padding-top:10px;
  padding-bottom: 10px;
  font-family: 'Cagliostro', sans-serif;
  font-size: 20px;
  background: url(images/noise.png);
  background-attachment:fixed;
  background-color: rgb(54, 54, 54);
  max-width: 500px;

  border-radius: 0px 0px 40px 0px;
}
#footer {
  margin-top: 5px;
  padding-left: 5px;
  padding-top: 5px;
  font-family: 'Cagliostro', sans-serif;
  font-size: 20px;
  background: url(images/noise.png);
  background-attachment:fixed;
  background-color: #3e5528;
  max-width: 500px;

  border-radius: 0px 40px 40px 0px;
}

#page p {
  margin: 5px;
}

#music{
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: #444444;
  font-family: Helvetica;
  font-size: 15px;
}

#music p{
  margin:5px;
}
